
    <!-- Category section -->
    <section class="playlist-section spad">
        <div class="container-fluid">
            <div class="section-title">
                <h2>Categories</h2>
            </div>
            <div class="container">
                <ul class="playlist-filter controls">
                    <li class="control" data-filter=".genres">Genres</li>
                    <li class="control" data-filter=".artists">Artists</li>
                </ul>
            </div>
            <div class="playlist-area">
                <div class="row">
                    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                        <div class="playlist-item">
                            <a href="#">
                                <img alt="Rap" src="@Url.Content("~/Content/img/genres/rap_1.jpg")">
                            </a>
                            <div class="ci-text">
                                <h4>Rap</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                        <div class="playlist-item">
                            <a href="#">
                                <img alt="Rock" src="@Url.Content("~/Content/img/genres/rock_1.jpg")">
                            </a>
                            <div class="ci-text">
                                <h4>Rock</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                        <div class="playlist-item">
                            <a href="#">
                                <img alt="Pop" src="@Url.Content("~/Content/img/genres/pop_1.jpg")">
                            </a>
                            <div class="ci-text">
                                <h4>Pop</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                        <div class="playlist-item">
                            <a href="#">
                                <img alt="Classical" src="@Url.Content("~/Content/img/genres/classical_1.jpg")">
                            </a>
                            <div class="ci-text">
                                <h4>Classical</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                        <div class="playlist-item">
                            <a href="#">
                                <img alt="Country" src="@Url.Content("~/Content/img/genres/country_1.jpg")">
                            </a>
                            <div class="ci-text">
                                <h4>Country</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                        <div class="playlist-item">
                            <a href="#">
                                <img alt="Jazz" src="@Url.Content("~/Content/img/genres/jazz_1.jpg")">
                            </a>
                            <div class="ci-text">
                                <h4>Jazz</h4>
                            </div>
                        </div>
                    </div>

                    <div class="mix col-lg-3 col-md-4 col-sm-6 artists">
                        <div class="playlist-item">
                            <a href="#">
                                <img alt="Rap" src="@Url.Content("~/Content/data_for_db/rap/loqiemean/photo.jpg")">
                            </a>
                            <div class="ci-text">
                                <h4>Rap</h4>
                            </div>
                        </div>
                    </div>
                    <div class="mix col-lg-3 col-md-4 col-sm-6 artists">
                        <div class="playlist-item">
                            <a href="#">
                                <img alt="Rock" src="@Url.Content("~/Content/data_for_db/rap/loqiemean/photo.jpg")">
                            </a>
                            <div class="ci-text">
                                <h4>Rock</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category section end -->

    <!-- Songs section  -->
    <section class="songs-section">
        <div class="container">
        <!-- song -->
            <div class="col-lg-6" style="float:none; margin:auto;">
                <div class="d-flex h-100 align-items-end">
                    <form class="search-form">
                        <input type="text" placeholder="">
                        <button>Search</button>
                    </form>
                </div>
            </div>
            <div class="song-item">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="song-info-box">
                            <img src="@Url.Content("~/Content/img/songs/1.jpg")" alt="">
                            <div class="song-info">
                                <h4>Jennifer Brown</h4>
                                <p>One Night in Ibiza</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_player_container">
                            <div class="single_player">
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="@Url.Content("~/Content/music-files/1.mp3")"></div>
                                <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">

                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-prev player_button" tabindex="0"></button>
                                            <button class="jp-play player_button" tabindex="0"></button>
                                            <button class="jp-next player_button" tabindex="0"></button>
                                            <button class="jp-stop player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span>
                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="songs-links">
                            <a href=""><img src="@Url.Content("~/Content/img/icons/p-1.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/img/icons/p-2.png")" alt=""></a>

                        </div>
                    </div>
                </div>
            </div>

        <!-- song -->
        <div class="song-item">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="song-info-box">
                            <img src="@Url.Content("~/Content/img/songs/2.jpg")" alt="">
                            <div class="song-info">
                                <h4>Jennifer Brown</h4>
                                <p>One Night in Ibiza</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_player_container">
                            <div class="single_player">
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_2" data-url="@Url.Content("~/Content/music-files/2.mp3")"></div>
                                <div class="jp-audio jp_container_2" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">

                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-prev player_button" tabindex="0"></button>
                                            <button class="jp-play player_button" tabindex="0"></button>
                                            <button class="jp-next player_button" tabindex="0"></button>
                                            <button class="jp-stop player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span>
                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="songs-links">
                            <a href=""><img src="@Url.Content("~/Content/img/icons/p-1.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/img/icons/p-2.png")" alt=""></a>

                        </div>
                    </div>
                </div>
            </div>

        <!-- song -->
        <div class="song-item">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="song-info-box">
                            <img src="@Url.Content("~/Content/img/songs/3.jpg")" alt="">
                            <div class="song-info">
                                <h4>Jennifer Brown</h4>
                                <p>One Night in Ibiza</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single_player_container">
                            <div class="single_player">
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_3" data-url="@Url.Content("~/Content/music-files/3.mp3")"></div>
                                <div class="jp-audio jp_container_3" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">

                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-prev player_button" tabindex="0"></button>
                                            <button class="jp-play player_button" tabindex="0"></button>
                                            <button class="jp-next player_button" tabindex="0"></button>
                                            <button class="jp-stop player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span>
                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="songs-links">
                            <a href=""><img src="@Url.Content("~/Content/img/icons/p-1.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/img/icons/p-2.png")" alt=""></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="site-pagination pt-5 mt-5">
                <a href="#" class="active">01.</a>
                <a href="#">02.</a>
                <a href="#">03.</a>
                <a href="#">04.</a>
            </div>
        </div>
    </section>
    <!-- Songs section end -->