<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>Music</span> for everyone.</h2>
                            <p>Use the most convenient service for listening to your favorite music. Take the UTMusic with your everywhere you go. Remember - life is better with the music in headphones.</p>
                            <a href=@Url.Action("Index", "Playlist") class="site-btn">START NOW</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="@Url.Content("~/Content/img/hero-bg.png")" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>Listen </span> to new music.</h2>
                            <p>Forget about the adds while listening to the music with the UTMusic. Take your favorite artists with you everyday absolutely for free.</p>
                            <a href=@Url.Action("Index", "Categories") class="site-btn">Listen now</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="@Url.Content("~/Content/img/hero-bg.png")" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Intro section -->
<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Unlimited Access to 100K tracks</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>We collect and continue to add music for every taste in such way, that everyone can find the music he likes and hasn't ever listened to before. We think about our users, so we have sorted the music by genres for making process of finding the music easier.</p>
                <a href=@Url.Action("Index", "Categories") class="site-btn">View categories</a>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->

<!-- How section -->
<section class="how-section spad set-bg" data-setbg="@Url.Content("~/Content/img/how-to-bg.jpg")">
    <div class="container text-white">
        <div class="section-title">
            <h2>How it works</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <img src="@Url.Content("~/Content/img/icons/login.png")" alt="">
                    </div>
                    <h4>Create an Account</h4>
                    <p>You can listen to the music unloggined, but it's more convenient to add the tracks, you like, to the playlist and don't spend the time for its searching.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <img src="@Url.Content("~/Content/img/icons/add_music.png")" alt="">
                    </div>
                    <h4>Make Playlists</h4>
                    <p>Mood is changing during the whole day, so separate your tracks and make the playlists or listen to the playlists, which are already made by us on <a href="@Url.Action("Index", "Playlist")">Playlist</a>.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <img src="@Url.Content("~/Content/img/icons/listen_to_music.png")" alt="">
                    </div>
                    <h4>Listen to the Music</h4>
                    <p>Listen to your favorite music in good quality online at our service. There isn't any adds in our site, so there aren't any annoying intreraptions from listeting to tracks.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How section end -->
<!-- Concept section -->
<section class="concept-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>UTMusc - is you choice.</h1>
                    <p>Our company has some pros, which make using our service more convenient.So whether you’re behind the wheel, working out, partying or relaxing, the right music is always at your fingertips. Choose what you want to listen to, or let UTMusc surprise you.</p>
                    <a href="@Url.Action("SignIn", "Login")" class="site-btn">Begin now</a>
            </div>
            <div class="col-lg-6">
                <ul class="sub-list">
                    <li><img src="@Url.Content("~/Content/img/icons/check-icon.png")" alt="">Play any track</li>
                    <li><img src="@Url.Content("~/Content/img/icons/check-icon.png")" alt="">Listen offline</li>
                    <li><img src="@Url.Content("~/Content/img/icons/check-icon.png")" alt="">No ad interruptions</li>
                    <li><img src="@Url.Content("~/Content/img/icons/check-icon.png")" alt="">Unlimited skips</li>
                    <li><img src="@Url.Content("~/Content/img/icons/check-icon.png")" alt="">High quality audio</li>
                    <li><img src="@Url.Content("~/Content/img/icons/check-icon.png")" alt="">Shuffle play</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Concept section end -->